@font-face {
    font-family: BebasNeue;
    src: url("BebasNeue.otf");
}

html,
body {
	height: 100%;
	margin: 0;
}

nav {
	position: fixed;
	top: 0;
	z-index: 999;
}

nav ul li a:hover {
	color: #715337;
}

a.brand-logo {
	padding-left: 5px;
	font-size: 26px;
}

section {
	padding-bottom: 50px;
}

section .section-title {
	color: rgb(255, 152, 0);
	margin-top: 0px;
	margin-bottom: 40px;
	text-align: center;
	font-family: BebasNeue;
	letter-spacing: 1px;
}

section.fill-page {
	height: 100vh;
	width: 100vw;
}

section:nth-child(2) {
	background: url('images/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	position: relative;
	font-family: BebasNeue;
	letter-spacing: 1px;
}

section:nth-child(3) {
	background: #0D142A;
}

section:nth-child(4) {
	background: white;
}

section:nth-child(5) {
	background: #0D142A;
}

section:nth-child(6) {
	background: white;
}

a.home-link {
	padding-top: 20px;
	display: inline-block;
}

a.nav-link {
	padding-top: 60px;
	display: inline-block;
}


/*************/
/* Home page */
/*************/

div.home {
	text-align: center;
}

div.home h3 {
	margin-top: 3%;
	color: white;
	font-size: 11vw;
}

div.tags p {
	color: #EAEAEA;
	font-size: 24px;
	font-size: 4vw;
	margin: 5px 10px 55px 10px;
}

div.row div.page-card {
	padding: 0%;
}

.fa-stack-2x {
	color: white;
}

.fa-stack-1x {
	color: rgb(255, 152, 0);
}

span.fa-stack:hover .fa-stack-2x {
	color: #0D142A;
}

.page-title {
	font-size: 18px;
	color: white;
	margin-top: 0px;
}

i.more-arrow {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -25px;
	color: white;
	font-size: 50px;
}


/**************/
/* About page */
/**************/

div.me-img-container {
	position: relative;
	width: 100%;
	text-align: center;
}

img.me-img {
	width: 200px;
	height: 200px;
}

div#quote-box {
	padding: 0px 30px;
}

.quote {
	font-size: 30px;
	color: white;
}

.quote-text {
	color: white;
	padding: 0px 45px;
	margin: 0px;
	font-size: 26px;
}

.quote-author {
	color: white;
	font-size: 20px;
}

/***************/
/* Skills page */
/***************/

div.skill-list {
	padding: 0px;
	margin: 0px 10px 10px 10px;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	height: 299px;
	background-color: #EEEEEE;
}

div.skill-list h5 {
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 8px;
	border-bottom: 1px solid #0D142A;
	background-color: #0D142A;
	color: white;
	border-radius: 2px 2px 0px 0px;
}

div.skill-list ul li {
	font-size: 18px;
}


/*****************/
/* Projects page */
/*****************/

div.card {
	margin-bottom: 20px;
}

div.card-image {
	text-align: center;
}

div.card-image img.project-image {
	width: 98%;
	height: 225px;
	display: inline-block;
	padding-top: 2px;
}

span.resize-project {
	text-align: left;
}

div.card-content {
	position: relative;
}

div.card-main-title {
	margin-right: 30px;
	height: 24px;
}

i.top-right-more {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 0px;
	position: absolute;
	top: 0;
	right: 0;
}

div.card div.card-content span.card-title {
	line-height: 24px;
	margin-bottom: 15px;
	display: block;
	z-index: 100;
	display: block;
}

div.card-reveal {
	position: relative;
}

div.card-detail-title {
	margin-right: 30px;
}

i.top-right-close {
	margin-top: 25px;
	margin-right: 20px;
	margin-left: 0px;
	position: absolute;
	top: 0;
	right: 0;
}


/****************/
/* Contact page */
/****************/

#contact-section {
	padding-bottom: 30px;
}

#contact-section a.nav-link {
	padding-top: 35px;
}

.contact-text {
	color: #0D142A;
	font-size: 20px;
}

.contact-icon {
	margin-bottom: 20px;
}

.contact-icon i {
	color: #0D142A;
}

.contact-icon a {
	color: #715337;
}
