/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-Oct-2014, 2:26:05 PM
    Author     : mohamed
*/

body {
    background-color: #b6d4e4;
    width: 1000px;
    margin: 2% auto 0.5% auto;
    /*border: 5px solid #003366;*/
}

.headers {
    background-color: #006699;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1000px;
    text-align: center;
}

h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    color: #FFFFFF;
    margin: 0;
}

#nav {
    float: left;
    width: 100%;
    background-color: #003366;
}

.navbar a:link {
    display: inline-block;
    float: left;
    width: 180px;
    margin: 0px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar a:visited {
    color: #FFFFFF;
}

.navbar a:hover {
    background-color: rgba(146, 219, 219, 0.6);
}

.navbar a:active {
    color: #000033;
}

li a:link {
    color: #006699;
}

li a:visited {
    color: #006699;
}

section {
    display: block;
    width: 920px;
    padding: 40px;
    color: #000000;
    background-color: #FFFFFF;
}

.profile {
    margin-top: 40px;
    border: 1px solid black;
    height: 20%;
    width: 20%;
}

.UWlogo {
    width: 50%;
    height: 50%;
    float: right;
}

#right {
    float: right;
    width: 75%;
    margin-top: 40px;
}

#leftColumn {
    display: block;
    float: left;
    width: 50%;
    padding-right: 0%;
}

#rightColumn {
    display: block;
    float: right;
    width: 50%;
    padding-left: 0%;
}

#intro {
    margin-top: 40px;
}

#centered {
    text-align: center;
}

.indented {
    margin-left: 2em;
}

body#home a#homenav,
body#about a#aboutnav,
body#skills a#skillsnav,
body#education a#educationnav,
body#contact a#contactnav
{
    color: #99ffff
}
