/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-Oct-2014, 2:26:05 PM
    Author     : mohamed
*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFFFFF;
    width: 100%;
}

.headers {
    background-color: #006699;
    padding-bottom: 0.5em;
    height: 10em;
    width: 100%;
    text-align: center;
}

h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 3em;
    margin: 0;
}

h3 {
    color: #FFFFFF;
    font-size: 2em;
    margin: 0;
}

#nav {
    display: block;
    float: left;
    width: 100%;
}

.navbar {
    list-style: none;
    display: block;
    float: left;
    text-align: center;
    background-color: #003366;
    width: 20%;
}

.navbar a:link {
    display: block;
    width: 100%;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar a:visited {
    color: #FFFFFF;
}

.navbar a:hover {
    background-color: #669999;
}

.navbar a:active {
    color: #000033;
}

li a:link {
    color: #006699;
}

li a:visited {
    color: #006699;
}

.genformat {
    display: block;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    color: #000000;
    font-size: 1.5em;
}

.profile {
    margin-top: 3.9em;
    margin-left: 2em;
    box-shadow: rgba(0,0,0,0.2) 5px 5px;
    height: 30%;
    width: 30%;
}

.UWlogo {
    width: 50%;
    height: 50%;
    float: right;
}

#right {
    float: right;
    margin-top: 2.4em;
    width: 70%;
}

#leftColumn {
    display: block;
    float: left;
    width: 50%;
    padding-right: 0%;
}

#rightColumn {
    display: block;
    float: right;
    width: 50%;
    padding-left: 0%;
}

#intro {
    margin-top: 2.4em;
}

#centered {
    text-align: center;
}

.indented {
    margin-left: 2em;
}

body#home a#homenav,
body#about a#aboutnav,
body#skills a#skillsnav,
body#education a#educationnav,
body#contact a#contactnav
{
    color: #99ffff
}
