/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #222; /*#f5f5f5;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  background-color: #339966;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

a {
  color: green;
}

.navbar-custom {
  background-color: black;
  border: 1px solid black;
}

.navbar-text {
  color: gray;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 18px;
}

.name-text {
  color: white;
  margin-top: 5px;
  font-size: 28px;
}

.footer-text {
  color: gray;
}

h1 {
  color: black
}

p {
  color: #006699;
}

.page-header-border {
  border-bottom: 1px solid black;
}

.fa-envelope {
  color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa-linkedin-square {
  color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa-github {
  color: green;
}

.profile-pic {
  width: 210px;
  height: 210px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.logo-pic {
  height: 120px;
  width: 120px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.nerf-pic {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text {
  font-size: 18px;
}

.center .col-lg-4 {
  text-align: center;
}

.center {
  text-align: center;
}

.active .tab-in-use {
  background-color: gray;
}

div.container div.Group {
  background-color: #FFFFFF;
  border: 2px solid #006666;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

div.container div.projectGroup {
  background-color: #FFFFFF;
  border: 2px solid #006666;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

div.container div.aboutGroup {
  background-color: #FFFFFF;
  border: 2px solid #006666;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

div.container h1.pageTitle {
  color: #006666;
  background-color: #FFFFFF;
  border: 2px solid #006666;
  border-bottom: none;

  padding: 10px;
  margin: 0px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

div.container div.titleContainer {
  border-bottom: 2px solid #006666;
  text-align: center;
  padding-bottom: 0px;
}

p.lead {
  font-size: 21px;
  font-weight: bold;
}

div.Group p.lead {
  text-decoration: underline;
}

div.projectGroup p.lead {
  text-decoration: underline;
}

div.aboutGroup p.lead {
  text-decoration: underline;
}
