/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #222; /*#f5f5f5;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  background-color: #D1E0E0;
}

body > .container {
  padding: 60px 15px 0;
}

body.home {
  min-height: 400px;
  background-image: url("Backgrounds/texture.JPG");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

.container .text-muted {
  margin: 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

a {
  color: #E07A4C;
}

.navbar-custom {
  background-color: black;
  border: 1px solid black;
}

.navbar-text {
  color: gray;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 18px;
}

.name-text {
  color: white;
  margin-top: 5px;
  font-size: 28px;
}

.footer-text {
  color: gray;
}

.home-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

section.home-section {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

p {
  color: #006699;
}

div.container h1.pageTitle {
  font-size: 46px;
  color: #DEB887;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  padding: 10px;
  display: inline;
  vertical-align: middle;
}

.fa-wrench, .fa-user, .fa-code, .fa-envelope, .fa-linkedin-square, .fa-github {
  color: #3BA8FF;
}

.fa-trophy {
  color: purple;
}

nav.navbar div.navbar-header button {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(51, 51, 51);
}

div.navbar-header i {
  color: white;
  font-size: 32px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border: 2px solid #DEB887;
  border-radius: 50px;
  display: inline-block;
}

.logo-pic {
  height: 120px;
  width: 120px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.myo-game-pic {
  height: 145px;
  width: 80px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.smiley-game-pic {
  height: 150px;
  width: 220px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.nerf-pic {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  /*text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;*/
  text-shadow: 0 0 1px black;
}

.text {
  font-size: 18px;
}

.center {
  text-align: center;
}

.active .tab-in-use {
  background-color: gray;
}

div.container div.centerGroup {
  background-color: #FFFFFF;
  border: 2px solid #006666;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

div.container div.Group {
  background-color: #FFFFFF;
  border: 2px solid #006666;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

div.container div.titleContainer {
  text-align: center;
  margin: 20px;

}

p.home-lead {
  font-size: 21px;
  font-weight: bold;
  color: #FEE06C;
  text-decoration: underline;
}

p.lead {
  font-size: 21px;
  font-weight: bold;
  color: #00A882;
  text-decoration: underline;
}

p.contact-lead {
  font-size: 21px;
  font-weight: bold;
  color: #00A882;
}

