/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #F8F8F8; /*#f5f5f5;*/
  border-top: 1px solid black;
  /* For Bootstrap Carousel */
  z-index: 15;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  background-color: #E8E8E8;
}

body > .container {
  padding: 60px 15px 0;
}

body.home {
  min-height: 400px;
  background-image: url("images/bwtexture.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

body.home footer.footer p {
  text-align: left;
}

.container .text-muted {
  margin: 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

a {
  color: #E07A4C;
}

nav.navbar li a {
  margin-left: 0px;
  margin-right: 0px;
}

nav.navbar li a:hover {
  color: black;
}

nav.navbar li.active a {
  color: black;
}

.navbar-custom {
  background-color: #F8F8F8;
  border-bottom: 1px solid black;
}

.navbar-text {
  color: gray;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 18px;
}

.name-text {
  color: black;
  margin-top: 5px;
  font-size: 28px;
}

body.home .name-text {
  text-align: left;
}

.footer-text {
  color: gray;
}

.home-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  color: #006699;
}

div.container h1.pageTitle {
  font-size: 46px;
  color: #e7a45d;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  padding: 10px;
  display: inline;
  vertical-align: middle;
}

i.timeline-fa {
  display: block;
  font-size: 24px;
  color: white;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.fa-wrench, .fa-user, .fa-code, .fa-envelope, .fa-linkedin-square, .fa-github, .fa-file-text {
  color: #3BA8FF;
}

.fa-trophy {
  color: purple;
}

div.contact-icon {
  margin-bottom: 30px;
}

nav.navbar div.navbar-header button {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(51, 51, 51);
}

div.navbar-header i {
  color: white;
  font-size: 32px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 100px;
  display: inline-block;
}

.citivate-pic {
  height: 150px;
  width: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.myo-game-pic {
  height: 180px;
  width: 95px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.smiley-game-pic {
  width: 96%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.nerf-pic {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-pic {
  max-width: 100%;
  max-height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.study-pic {
  max-width: 100%;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  /*text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;*/
  text-shadow: 0 0 1px black;
}

.text {
  font-size: 18px;
}

.center {
  text-align: center;
}

.active .tab-in-use {
  background-color: gray;
}

body.home div.container {
  text-align: center;
}

div.home {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  border-radius: 40px;
  width: 100%;
}

div.home-picture {
  text-align: center;
}

div.home-tags {
  text-align: center;
}

div.home-tags p {
  display: inline;
  color: #00A882;
  font-size: 20px;
  padding: 5px;
}

div.home-tags p a:hover {
  text-decoration: none;
}

div.container div.centerGroup {
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0px 0px 10px gray;
}

div.container div.Group {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px gray;
  padding: 10px;
  margin-bottom: 30px;
}

div.container div.projectGroup {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px gray;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

div.container div.titleContainer {
  text-align: center;
  margin: 20px;
  margin-bottom: 40px;
}

p.lead {
  font-size: 21px;
  font-weight: bold;
  color: #00A882;
  text-decoration: underline;
}

p.contact-lead {
  font-size: 21px;
  font-weight: bold;
  color: #00A882;
}

h2.skill-header {
  margin-bottom: 30px;
  text-decoration: underline;
}

img.skill-pic {
  max-width: 100%;
  margin-bottom: 30px;
}

p.skill-text {
  color: black;
  font-size: 20px;
}

/* For Bootstrap Carousel */
.carousel {
  margin-right: 20px;
  margin-left: 20px;
}

.carousel-indicators li {
  border-color: black;
}

.carousel-indicators .active {
  background-color: #DEB887;
}
